In [2]:
x = range(10) # 0 to 9
print(x)
print(list(x)) # cast to a list

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print(list(range(0,11,2)))

[0, 2, 4, 6, 8, 10]

In [7]:
# Enumerate  **** USEFUL ****
word = 'Hello World'
for item in enumerate(word):
    print(item)  # produce a (index,value) tuple
    
for index,value in enumerate(word):
    print(f"char at position {index} is {value}")

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'W')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')
char at position 0 is H
char at position 1 is e
char at position 2 is l
char at position 3 is l
char at position 4 is o
char at position 5 is
char at position 6 is W
char at position 7 is o
char at position 8 is r
char at position 9 is l
char at position 10 is d

In [10]:
for item in enumerate(range(0,10,2)):
    print(item)

    
for index,value in enumerate(range(0,10,2)):
    print(f"Value at {index} is {value}")

(0, 0)
(1, 2)
(2, 4)
(3, 6)
(4, 8)
Value at 0 is 0
Value at 1 is 2
Value at 2 is 4
Value at 3 is 6
Value at 4 is 8

In [14]:
# Zip function **** USEFUL ***

myList1 = [1,2,3,4,5]
myList2 = ['a','b','c']

print(zip(myList1, myList2))
print(list(zip(myList1, myList2)))

print(set(zip(myList1, myList2)))

<zip object at 0x114a2d4c0>
[(1, 'a'), (2, 'b'), (3, 'c')]
{(1, 'a'), (3, 'c'), (2, 'b')}

In [15]:
# 'in' operator on sets
2 in {1,2,3}

True

In [17]:
# 'in' on strings
print('e' in 'This is a tast')
print('e' in 'This is a test')

True

In [20]:
# 'in' on tuples
print(3 in (2,33,4))
print(3 in (2,3,4))

False
True

In [22]:
# 'in' on dictionaries
print('someKey' in {'a':2, 'b' : 3, 'c' : 4})
print('someKey' in {'a':2, 'someKey' : 3, 'c' : 4})

False
True

In [41]:
# 'in' on dictionaries
d = {'k1' : 1, 'k2' : 2, 'k3' : 3}
print("Dictionary",d)
print("4 in d.values()",4 in d.values())
print("3 in d.values()",3 in d.values())
print("k3 in d",'k3' in d)
print("k66 in d",'k66' in d)

print("k1 in d.keys() (using 'in d.keys()')",'k1' in d.keys())
print("k55 in d.keys() (using 'in d.keys()'", 'k55' in d.keys())  # same as 'k55' in d

Dictionary {'k1': 1, 'k2': 2, 'k3': 3}
4 in d.values() False
3 in d.values() True
k3 in d True
k66 in d False
k1 in d.keys() (using 'in d.keys()') True
k55 in d.keys() (using 'in d.keys()' False

In [42]:
# Min and Max functions on lists
myList = [10,20,4,100]
print("Min ",min(myList))
print("Max ",max(myList))

Min  4
Max  100

In [64]:
# Random function
from random import shuffle
from random import randint

cards = list(range(0,52))

shuffle(cards)
hand1 = cards[:4]
print(cards)
print(hand1)
print(hand1.pop(0))

print(randint(0,6))

[40, 33, 44, 18, 14, 10, 51, 2, 48, 27, 50, 32, 29, 15, 34, 7, 35, 12, 45, 47, 11, 31, 13, 41, 36, 25, 37, 21, 24, 20, 43, 39, 26, 17, 49, 30, 42, 3, 0, 19, 5, 6, 23, 8, 16, 38, 46, 9, 22, 1, 4, 28]
[40, 33, 44, 18]
40
1

In [66]:
# Raw input (note 'input' returns a 'string' type result)

someStringNumber = input('Enter a Number: ')
print(f'You have entered {someStringNumber} type is %s' % (type(someStringNumber)))
print(someStringNumber)
number = int(someStringNumber)
print(number,type(number))

Enter a Number: 44
You have entered 44 type is <class 'str'>
44
44 <class 'int'>